<h1>Stories</h1>
<div class="row text-white">
    {{#each stories}}
            <div class="col s12 m4">
                <div class="card blue-grey darken-1 hoverable">
            
                    <div class="card-image">
                        {{{editIcon user ../user _id}}}
                        {{#if image}}
                        <img src="img/{{stripDownPublicFolderPath image}}" alt="Story Image">
                        {{/if}}
                        
                    </div>
                    <div class="card-content z-depth-3">
                        <span class="card-title">{{title}}<i class="fas fa-chevron-up right activator pointable" ></i></span>
                    </div>
                    <div class="card-reveal" >
                        <span class="card-title grey-text text-darken-4">{{title}}<i class="fas fa-times right"></i></span>
                        <p class="test-black">{{stripTags (truncate body 150)}}</p>
                        
                        <div class="d-flex justify-space-between align-items-center">
                            <div class="chip mb-0 me-0"">
                                <img src="{{user.image}}" alt="">
                                <a href="/stories/user/{{user._id}}">{{user.displayName}}</a>
                            </div>
                            {{#if ../path.userUrl}}
                                <a href="../show/{{_id}}" class="text-capitalize btn"> read more</a>
                            {{else}}
                                <a href="stories/show/{{_id}}" class="text-capitalize btn">read more</a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
    {{else}}
        <p>No stories to display</p>
    {{/each}}
</div>